@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at top left,
      rgba(168, 85, 247, 0.25),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(236, 72, 153, 0.2),
      transparent 30%
    ),
    #000;

  color: var(--foreground);

  min-height: 100vh;

  overflow-x: hidden;
}

/* Smooth selection */
::selection {
  background: #a855f7;
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}